.search-results {
    list-style-type: none;
    overflow: auto;
}

.search-results li {
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.search-results small {
    width: 100%;
}

.search-results img {
    width: 120px;
    height: 70px;
}
